@model List<SampleBlog.Models.Post>
@{
    ViewBag.Title = "Posts";
}
@Html.Partial("~/Views/Sort/SortCriteria.cshtml")
<br><br />
<h2>Posts: </h2>
<br><br><br>
@foreach (var x in Model)
{

    @Html.ActionLink($"{x.Title} \n{ @SampleBlog.Controllers.PostController.GenerateSignature(x.UserID) }" ,"ViewPost",new { x.PostId })

<br><br><br />
}

