@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Hi everyone</h3>

<p>This is a hobbyst project which was created while my studing of mvc and entity framework</p><br />
<p>It assumes the creation of a simple page that will be fully functional blog website</p>
