@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    This blog is hobbyst project<br />
    <br />
    <b>Author Name:</b> Hubert Szupiluk<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:szupil6@interia.pl">hubert.szupiluk@gmail.com</a><br />

</address>