@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    This blog was created for the needs of a university project:<br />
    <br />
    <b>Cardinal Stefan Wyszyński University in Warsaw</b><br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:szupil6@interia.pl">szupil6@interia.pl</a><br />

</address>