<form action="/Sort/SearchusingCriteria" method="post">
    <div>
        Tag Name:
        <input type="text" name="Tagname" placeholder="Put post title">

    </div>

    <div>
        Title Name:

        <input type="text" name="TitleName" rows="10" cols="50"></input>


    </div>

    <div>
        Sorting Type:
        <select name="SortingType">
            <option value="0"> Name ascending</option>
            <option value="1">Name descending</option >
            <option value= "2" > Date ascending</option >
            <option value = "3" > Date descending</option >
            <option value= "4" > Rate ascending</option >
            <option value = "5" > Rate descending</option >
        </select>
        <br>
        <input type="submit" value="Search">

    </div>
</form>